<nav class="navbar navbar-expand-sm sticky-top navbar-dark bg-dark">
  <div class="container-sm">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" src="/posts/introduction">Introduction</a></li>
            <li><a class="dropdown-item" src="https://blog.datacite.org">Blog post</a></li>
          </ul>
        </li>
      </ul>
      <a class="navbar-brand " href="/">
        <img src="https://datacite.org/assets/DataCite-Logo_Schwoop-bicolor-light.svg"
          alt="Undercoat DataCite Design System" width="30" height="24">
      </a>
    </div>
  </div>
</nav>

